
IntelliJ.Portuguese.Brazil.Dictionary-master/doc/images/idea-adding-dict.png
IntelliJ.Portuguese.Brazil.Dictionary-master/portuguese-brazil.dic
IntelliJ.Portuguese.Brazil.Dictionary-master/portuguese-brazil_technical-terms.dic
IntelliJ.Portuguese.Brazil.Dictionary-master/portuguese-brazil_technical-terms_without-accents.dic
IntelliJ.Portuguese.Brazil.Dictionary-master/portuguese-brazil_without-accents.dic
IntelliJ.Portuguese.Brazil.Dictionary-master/README.md
.idea/pythonProject.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionaries/Felipe.xml
